---
layout: post
title: Heidegger, Being, and Truth
media: Tachyons CSS
---
{% capture circles %}
<div class="b--dark-red ba br-100 h-100 w-100">
  <div class="b--dark-red ba br-100 center h-90 w-90">
    <div class="b--dark-red ba br-100 center h-90 w-90">
      <div class="b--dark-red ba br-100 center h-90 w-90">
        <div class="b--dark-red ba br-100 center h-90 w-90">
          <div class="b--dark-red ba br-100 center h-90 w-90">
            <div class="b--dark-red ba br-100 center h-90 w-90"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% capture content %}
<div class="h-100 w-100">
  <div class="absolute absolute--fill">
    <div class="dt h-100 w-100">
      <div class="dtc tc v-mid">
        <div class="dib h-100 relative w-100">
          <div class="absolute h-65 left-0 top-0 right-0">
            <div class="center h-100 rotate-180 w-60">
            {% include aspect_ratio.html aspect-ratio="1x1" content=circles %}
            </div>
          </div>
          <div class="absolute bottom-0 h-65 left-0 right-0">
            <div class="center h-100 w-60">
            {% include aspect_ratio.html aspect-ratio="1x1" content=circles %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute absolute--fill rotate-90">
    <div class="dt h-100 w-100">
      <div class="dtc tc v-mid">
        <div class="dib h-100 relative w-100">
          <div class="absolute h-65 left-0 top-0 right-0">
            <div class="center h-100 rotate-180 w-60">
            {% include aspect_ratio.html aspect-ratio="1x1" content=circles %}
            </div>
          </div>
          <div class="absolute bottom-0 h-65 left-0 right-0">
            <div class="center h-100 w-60">
            {% include aspect_ratio.html aspect-ratio="1x1" content=circles %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

<div class="bg-black pa3 pb4 pa4-ns pb5-ns tc white">
  <h2 class="f1-ns f2 fw7 helvetica lh-title ttu">Heidegger,<br>Being,<br>and Truth</h2>
  {% include aspect_ratio.html aspect-ratio="1x1" content=content %}
  <h3 class="f2-ns f3 fw7 helvetica lh-title ttu">Laszlo Versényi</h3>
</div>