---
layout: post
media: Tachyons CSS, Raw CSS
title: Information, Mechanism and Meaning
---
{% capture blue_circle %}
<div class="b--blue ba br-100 h-100 pa1 w-100">
  <div class="b--blue ba br-100 h-100 pa1 w-100">
    <div class="b--blue ba br-100 h-100 pa1 w-100">
      <div class="b--blue ba br-100 h-100 pa1 w-100">
        <div class="b--blue ba br-100 h-100 pa1 w-100">
          <div class="b--blue ba br-100 h-100 pa1 w-100">
            <div class="b--blue ba br-100 bw1 h-100 pa1 w-100">
              <div class="b--blue ba br-100 bw1 h-100 pa1 w-100">
                <div class="b--blue ba br-100 bw1 h-100 pa1 w-100">
                  <div class="b--blue ba br-100 bw1 h-100 pa1 w-100">
                    <div class="b--blue ba br-100 bw1 h-100 pa1 w-100">
                      <div class="b--blue ba br-100 bw2 h-100 pa1 w-100">
                        <div class="b--blue ba br-100 bw2 h-100 pa1 w-100">
                          <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                            <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                              <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                  <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                    <div class="b--blue ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                      <div class="b--blue ba br-100 bw3 h-100 pa2-l pa1 w-100">
                                        <div class="b--blue ba br-100 bw3 h-100 pa2-l pa1 w-100">
                                          <div class="b--blue ba br-100 bw3 h-100 pa2-ns pa1 w-100">
                                            <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                              <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                  <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                    <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                      <div class="b--blue ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                        <div class="b--blue ba br-100 bw4 db-ns dn h-100 pa3 w-100">
                                                          <div class="b--blue ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                            <div class="b--blue ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                              <div class="b--blue ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                                <div class="b--blue ba br-100 bw4 db-l dn h-100 pa4 w-100">
                                                                  <div class="bg-red br-100 db-l dn h-100 w-100"></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% capture red_circle %}
<div class="b--red ba br-100 h-100 pa1 w-100">
  <div class="b--red ba br-100 h-100 pa1 w-100">
    <div class="b--red ba br-100 h-100 pa1 w-100">
      <div class="b--red ba br-100 h-100 pa1 w-100">
        <div class="b--red ba br-100 h-100 pa1 w-100">
          <div class="b--red ba br-100 h-100 pa1 w-100">
            <div class="b--red ba br-100 bw1 h-100 pa1 w-100">
              <div class="b--red ba br-100 bw1 h-100 pa1 w-100">
                <div class="b--red ba br-100 bw1 h-100 pa1 w-100">
                  <div class="b--red ba br-100 bw1 h-100 pa1 w-100">
                    <div class="b--red ba br-100 bw1 h-100 pa1 w-100">
                      <div class="b--red ba br-100 bw2 h-100 pa1 w-100">
                        <div class="b--red ba br-100 bw2 h-100 pa1 w-100">
                          <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                            <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                              <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                  <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                    <div class="b--red ba br-100 bw2 h-100 pa2-l pa1 w-100">
                                      <div class="b--red ba br-100 bw3 h-100 pa2-l pa1 w-100">
                                        <div class="b--red ba br-100 bw3 h-100 pa2-l pa1 w-100">
                                          <div class="b--red ba br-100 bw3 h-100 pa2-l pa1 w-100">
                                            <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                              <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                  <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                    <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                      <div class="b--red ba br-100 bw3 db-ns dn h-100 pa3 w-100">
                                                        <div class="b--red ba br-100 bw4 db-ns dn h-100 pa3 w-100">
                                                          <div class="b--red ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                            <div class="b--red ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                              <div class="b--red ba br-100 bw4 db-l dn h-100 pa3 w-100">
                                                                <div class="b--red ba br-100 bw4 db-l dn h-100 pa4 w-100">
                                                                  <div class="bg-red br-100 db-l dn h-100 w-100"></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

<div class="bg-white helvetica ph2 ph4-ns pv4-ns pv3">
  <h2 class="blue f1-l f2-m f3 fw6 lh-title ma0 measure ph5-ns ph4-m ph2">{{ page.title }}</h2>
  <h3 class="blue f2-l f3-m f4 fw4 lh-title ma0 ph5-ns ph4-m ph2">Donald M. MacKay</h3>
  <div class="pv6-ns pv5 relative">
    <div class="relative mb6-ns mb3 z-1" style="mix-blend-mode: multiply;">
      {% include aspect_ratio.html aspect-ratio="1x1" content=red_circle %}
    </div>
    <div class="absolute bottom-0 w-100" style="mix-blend-mode: multiply;">
      {% include aspect_ratio.html aspect-ratio="1x1" content=blue_circle %}
    </div>
  </div>
</div>
<h2 class="tc">Unfinished</h2>