---
layout: post
media: Tachyons CSS, Raw CSS
title: High Quality Likes.
---
<div class="b--bb cover overflow-hidden relative" style="background: url('img/grid-sun.gif') center bottom no-repeat">
  <div class="mb5 mt7 relative">
    {% include image.html class="w-50" src="img/cherub-sleeping.png" %}
  </div>
  <div class="absolute absolute--fill bg-pink z-1" style="mix-blend-mode: multiply;"></div>
  <div class="absolute absolute--fill z-2" style="background: url('img/drone.png') 90% 15% no-repeat; background-size: 25% 25%"></div>
  <div class="absolute absolute--fill z-3" style="background: url('img/master-controller.png') center 33% no-repeat; background-blend-mode: multiply; background-size: 25%;"></div>
  <div class="absolute bottom-2 right-0 tc w-third z-2">
    {% include image.html class="w-two-thirds" src="img/canada-dry.png" %}
  </div>
  <div class="absolute bottom-1 tc w-100 z-3">
    <button class="b--outset bg-light-silver bw2 f5-ns f6 pa2-ns pa1">Like</button>
  </div>
</div>