---
layout: post
title: The Situation Ethics Debate
media: Tachyons CSS
---
{% capture circle_1 %}
<div class="bg-hot-pink br-100 h-100 w-100"></div>
{% endcapture %}

{% capture circle_2 %}
<div class="bg-white br-100 h-100 overflow-hidden w-100">
  <div class="cf h-50 w-100">
    <div class="bg-gold fl h-100 w-50"></div>
    <div class="bg-hot-pink fl h-100 w-50"></div>
  </div>
</div>
{% endcapture %}

{% capture circle_3 %}
<div class="br-100 cf h-100 overflow-hidden w-100">
  <div class="bg-gold fl h-100 w-50"></div>
  <div class="bg-white fl h-100 w-50"></div>
</div>
{% endcapture %}

{% capture circle_4 %}
<div class="br-100 cf h-100 overflow-hidden w-100">
  <div class="fl h-100 w-50">
    <div class="bg-white h-50"></div>
    <div class="bg-hot-pink h-50"></div>
  </div>
  <div class="bg-gold fl h-100 w-50"></div>
</div>
{% endcapture %}

{% capture circle_5 %}
<div class="br-100 cf h-100 overflow-hidden w-100">
  <div class="bg-white fl h-100 w-50"></div>
  <div class="bg-hot-pink fl h-100 w-50"></div>
</div>
{% endcapture %}

{% capture circle_6 %}
<div class="br-100 h-100 overflow-hidden w-100">
  <div class="bg-gold h-50"></div>
  <div class="bg-hot-pink h-50"></div>
</div>
{% endcapture %}

<div class="bg-white">
  <header class="pb2 ph3 pt4">
    <h2 class="avenir f1-l f2-m f3 fw7 hot-pink ma0 tr ttu">The <span class="db gold">Situation Ethics</span> <strong class="f-subheadline-l f1-m f2 fw7">Debate</strong></h2>
  </header>
  <div class="bg-near-black cf">
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_1 %}
    </div>
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_2 %}
    </div>
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_3 %}
    </div>
  </div>

  <div class="pa4-ns pa3">
    <p class="avenir f3-l f5-m f6 fw5 gold lh-copy ma0 tr">Critical back talk about <span class="ttu">Situation Ethics</span><br> and a sharp reply from <span class="f2-l f4-m f5 ttu">Joseph Fletcher</span></p>
  </div>

  <div class="bg-near-black cf">
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_4 %}
    </div>
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_5 %}
    </div>
    <div class="fl w-third">
      {% include aspect_ratio.html aspect-ratio="1x1" content=circle_6 %}
    </div>
  </div>

  <footer class="ph4-ns ph3 pt4-ns pt3 pb2-ns pb1">
    <p class="avenir f3-l f4-m f6 fw5 hot-pink lh-copy ma0 tr">Edited, with an Introduction by <span class="f2-l f3-m f5 ttu">Harvey Cox</span></p>
  </footer>
</div>